* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #fffeff;
}

.main-title {
  margin-bottom: 2rem;
}

.container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  place-items: center;
}

.f-main {
  width: 100%;
}

.form {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  width: 90%;
  margin: 0 auto;
}

.todo {
  padding: 0.5rem;
  margin-right: 0.3rem;
  grid-column: span 7 / span 7;
}

.submit {
  padding: 0.5rem;
  cursor: pointer;
}

.submit:hover {
  background: blueviolet;
  color: white;
}

.todo:focus {
  box-shadow: inset 1px 1px 3px rgb(53, 39, 39);
}

.l-main {
  width: 90%;
  margin-top: 1rem;
}

ul {
  list-style: none;
}

li {
  margin: 0.5rem 0;
}

.l-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 5px;
}

.item {
  grid-column: span 4 / span 4;
  border: 1px solid black;
  padding: 0.3rem;
}

@media (min-width: 640px) {
  .container {
    width: 70%;
  }
  .l-container {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .item {
    grid-column: span 7 / span 7;
  }
}
